<div class="container mt-5">
  <div class="row">
    <div class="col text-center">
      <img src="img/profile.png" alt="Nasheh Annafii" class="img-thumbnail rounded-circle" width="200">
      <h1 class="display-4">Nasheh Annafii</h1>
      <p class="lead">Student UNIDA | Developer</p>
    </div>
  </div>
</div>