<div class="container mt-5">
  <div class="row">
    <div class="col">

      <p class="lead">Detail Contact</p>
      <% if (!contact) { %>
        <div class="alert alert-danger" role="alert">
          Data Contact Tidak Ada kembali ke <br>
          <a href="/contact" class="alert-link">&laquo; halaman Contact</a>
        </div>
      <% } else { %> 
        
        <div class="card border-light mb-3" style="max-width: 18rem;">
          <div class="card-header"><%= contact.name %></div>
          <div class="card-body">
            <h5 class="card-title"><%= contact.phone %></h5>
            <p class="card-text"><%= contact.email %></p>
            <a href="/contact/delete/<%= contact.name %>" class="btn btn-danger badge">delete</a>
            <a href="/contact" class="btn btn-info badge"><i class="bi bi-backspace"></i> Back</a>
          </div>
        </div>
        
      <% } %> 


  </div>
</div>