<h1>Home</h1>
<h2>Nama Saya <%= nama %></h2>
<h4>Daftar Mahasiswa</h4>
<% if (mahasiswa.length < 1) { %>
<p>Tidak ada mahasiswa</p>
<% }else{ %>
<ul>
  <% mahasiswa.forEach(mhs =>{ %>
  <li> Nama : <%= mhs.nama %> <br> Email : <%= mhs.email %></li>
  <% }) %>
</ul>
<% } %>
